on:
  pull_request_review_comment:
    types: [created]
  issue_comment:
    types: [created]

permissions:
  contents: read

jobs:
  test-action:
    name: GitHub Actions Testa
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    if: github.event_name != 'issue_comment' || github.event.issue.pull_request
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Checkout Pull Request
        if: github.event.issue.pull_request
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PR_URL="${{ github.event.issue.pull_request.url }}"
          PR_NUM=${PR_URL##*/}
          echo "Checking out from PR #$PR_NUM based on URL: $PR_URL"
          hub pr checkout $PR_NUM

      - name: Test Local Action
        id: test-action
        uses: ./

      - name: Print Output
        id: output
        run: echo "${{ steps.test-action.outputs.time }}"
